
.benefiticon {
  margin-bottom: -10%;
}

.benefitsSection {
  margin-bottom: -5%;
}
.testSubscribe {
  margin-top: 5%
}


.features.fea-primary.articles {
margin-bottom: 5%;
}

.visionsection {
  margin-top: 5%;
}

.footerBanner {
  height: 25rem;
}

.taskdetails {
  margin-top: 7%;
}
.developerlandingimage {
  max-width: 100%;
  height: auto;
}

.landingbutton.taskbutton {
  margin-left: 15%;
}

.productstitle {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.partnerstitle {
  text-align: center;
  margin-bottom: 2%;
}



.white {
background-image: linear-gradient(to bottom, #32ff7e, #fffa65);

}


.bg-green {
  background-image: linear-gradient(to bottom, #32ff7e, #7d5fff);
}

.bg-green-reverse {
  background-image: linear-gradient(to bottom, #7d5fff, #32ff7e);
}

.bg-indigo {
  background-color: #7d5fff;

}

.bg-weirdgreen {
  background-color: #3ae374;
}

.bg-yellow {
  background-color: #fffa65;
}

.green {
 background-image: radial-gradient(#32ff7e, #fffa65);


}

.indigo {
 background-image: radial-gradient(#32ff7e, #fffa65);
}

.yellow {
    background-image: linear-gradient(to bottom, #fffa65, #32ff7e);
}

.benefitsTitle {
  text-align: center;
  margin-bottom: 6%;
  margin-top: 5%;
}

.communityText {
  margin-top: 20%;
}

.counterTitle {
  text-align: center;

}

.counterBlocks {
  margin-bottom: -7%;
}

.counterText {
  text-align: center;

}

.shadow3d {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featureImage {
  margin-top: 3%;
}

.partnerLogos {
  margin-bottom: 3%;
}

.joinButton {
margin-bottom: -9%;
}

.frakButton {
  margin-top: 5%;
}

.counterBlocks {
  margin-top: -10%;
}

.aboutTitle {
  margin-top: -17%;
}

.topimg {
height: 120%;
width: 120%;
}

/*Landing Section*/
.landing {
  margin-top: -5%;
}

h1.slogan {
  margin-bottom: 5%;
  font-family: 'Assistant';
  font-weight: 700;
}

h1.slogan-light {
  margin-bottom: 5%;
  font-family: 'Assistant';
  font-weight: 700;
  color: white;
}



.btn.btn-primary.landingbutton {
  height: 100%;
  width: 20rem;
  font-size: 30px;
  font-family: 'Assistant';


}


.btn.btn-primary.learnbutton {
  height: 100%;
  width: 12rem;
  font-size: 22px;
  font-family: 'Assistant';


}


.btn.btn-primary.communitybutton {
  height: 100%;
  width: 12rem;
  font-size: 22px;
  font-family: 'Assistant';

}

.footerIcon {
  align-items: center;
  height: 45px;
  width: 45px;
  z-index: 1;

}


.footerIconMiddle {
    margin-left: 3%;
}

.footerSimple {
  margin-bottom: -10%;
  height: 20rem;
/* background-image: linear-gradient(to bottom, #32ff7e, #fffa65);
  color: #7158e2; */

}

.title.socialtitle {
  z-index: 1;

}

.img-fluid.bgmage {
  height: 100px;
}

.job-box {
  height: 25rem;
}

.eventblock {
  margin-top: -10%;
}

.blogblock {
  margin-top: -10%;
  margin-bottom: -5%;
}


.bg-overlay.bg-overlay-gradient2.bg-footer {
  width: 200%;
  margin-left: -100px;
}

.blogbox {
  height: 15rem;
}

@media screen and (max-width: 780px) {

    .pic {display:none;}

}

.course-feature {
  height: 19rem;
}

.shadow3d.newsbox {
  height: 20rem;
  margin-bottom: 2.5rem;
}

.newsblocks {
  margin-top: -7%;
}



/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/

.banner-one {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.banner-one::before {
	content: '';
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #light;
	clip-path: polygon(71.5% 0, 0% 100%, 100% 100%);
}

@media(max-width: 991px) {
	.banner-one::before {
		height: 80px;
	}
}

.banner-one .container {
	position: relative;
	padding-top: 320px;
	padding-bottom: 275px;
}

.banner-one__moc {
	position: absolute;
	bottom: 45px;
	right: -30px;
	animation: ImgBounce 5s ease-in-out 0s infinite alternate;
}

.banner-one__content h3 {
	margin: 0;
	font-size: 70px;
	text-transform: uppercase;
	line-height: 80px;
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 25px;
}

.banner-one__content p {
	margin: 0;
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
	color: #ffffff;
}

.banner-one__btn {
	padding: 16px 56px;
	background-image: none;
	border: 2px solid #fff;
	margin-top: 40px;
}

.banner-one__btn:hover {
	background-color: #fff;
	color: var(--thm-black);
}

.banner-one__content .banner-one__tag-line {
	display: inline-block;
	background-color: rgba(0, 0, 0, .1);
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	color: #ffffff;
	letter-spacing: .2em;
	border-radius: 5px;
	overflow: hidden;
	padding-left: 30px;
	line-height: 40px;
}

.banner-one__content .banner-one__tag-line a {
	display: inline-block;
	vertical-align: middle;
	background-color: #feec66;
	color: #23242b;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 25px;
	transition: all 500ms ease;
}

.banner-one__content .banner-one__tag-line a:hover {
	background-color: var(--thm-black);
	color: #fff;
}

[class*=banner-one__shape-] {
	position: absolute;
}

.banner-one__shape-moc-1 {
	top: 15%;
	right: -9%;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.banner-one__shape-1 {
	top: 3%;
	left: 0;
}


.banner-one__shape-2 {
	top: 17%;
	left: 7%;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: banner3Shake;
	animation-name: banner3Shake;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.banner-one__shape-3 {
	bottom: 19%;
	left: 6%;
}

.banner-one__shape-4 {
	top: 19%;
	right: 45%;
	-webkit-animation-name: bubbleMover;
	animation-name: bubbleMover;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-duration: 8s;
}

.banner-one__shape-5 {
	bottom: 19%;
	left: 6%;
	-webkit-animation-name: bubbleMover;
	animation-name: bubbleMover;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-duration: 10s;
}

.banner-one__shape-6 {
	bottom: 29%;
	right: 30%;
	-webkit-animation-name: shapeMover;
	animation-name: shapeMover;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@media screen and (max-width: 1000px) {

    .myImage {display:none;}

}

@media screen and (max-width: 800px) {

    .myImage2 {display:none;}

}

.banner-one__shape-7 {
	bottom: 19%;
	right: 6%;
	-webkit-animation-name: shapeMover;
	animation-name: shapeMover;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/

@keyframes ImgBounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@keyframes shapeMover {

	0%,
	100% {
		transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
	}

	50% {
		transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
	}
}


@keyframes bubbleMover {
	0% {
		-webkit-transform: translateY(0px) translateX(0) rotate(0);
		transform: translateY(0px) translateX(0) rotate(0);
	}

	30% {
		-webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
		transform: translateY(30px) translateX(50px) rotate(15deg);
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}

	50% {
		-webkit-transform: translateY(50px) translateX(100px) rotate(45deg);
		transform: translateY(50px) translateX(100px) rotate(45deg);
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
	}

	80% {
		-webkit-transform: translateY(30px) translateX(50px) rotate(15deg);
		transform: translateY(30px) translateX(50px) rotate(15deg);
		-webkit-transform-origin: left top;
		transform-origin: left top;
	}

	100% {
		-webkit-transform: translateY(0px) translateX(0) rotate(0);
		transform: translateY(0px) translateX(0) rotate(0);
		-webkit-transform-origin: center center;
		transform-origin: center center;
	}
}

@keyframes banner3Shake {
	0% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}

	30% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	60% {
		-webkit-transform: rotate3d(1, 0, 0, 0deg);
		transform: rotate3d(1, 0, 0, 0deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}
}


√
